<%- include('head') -%> 
<div class="container">
    <div class="box" id="heading">
        <h1>About</h1>
    </div>
    <div class="box">
        <h2 class="heading2">About App</h2>
        <p>
            Todo app is just like a notebook. Where you can add your list items and also you can create your own list. This app is also provide a feature to delete a particular item or a list. It is so easy to use this app . 
        </p>
        <h2 class="heading2">About Founder</h2>
        <p>
            This app is created by Firoz ansari. Who is a Web developer. He always tried to build something using languages. To know more about him click here -<a class="link" href="https://firozansari.site">firozansari.site</a>
        </p>
    </div>
</div>


<%- include('foot') -%> 