<%- include('head') -%> 

<div class="container">
    <form class="box" action="/type" method="post">
        <div  class="box" id="heading">
            <h1>Create Your List Type</h1>
        </div>
        <input type="text" name="customeListType" placeholder="List Name">
        <button type="submit"  class="bt" >+</button>
    </form>
</div>

<%- include('foot') -%>