<footer>
    <a href="https://firozansari.site" class="brand"><p >designed by alpha</p></a>
    <a href="/about-us" class="link" style="color: white; margin: 0 10px;">About Us</a>
    <a href="/how-to-use" class="link" style="color: white; margin: 0 10px;">How To Use</a>
</footer>
    

<script src="js/main.js"></script>
</body>
</html>