<%- include('head') -%> 
<div class="container">
    <div class="box" id="heading">
        <h1>How To Use</h1>
    </div>
    <div class="box">
        <p class="heading2">
            You can use this app by using the steps given below.
        </p>
        <ul>
            <li>
                To add item click on "enter new" and type your item name and then press enter or click  '+'.
            </li>
            <li>
                To delete items from a list check the given checkbox.
            </li>
            <li>
                To add new list click on "custome List" and enter list name and then press enter or click  '+'.
            </li>
            <li>
                To delete a list just click on delete icon.
            </li>
        </ul>
    </div>
</div>


<%- include('foot') -%> 